# dlib==19.24.0 is required for face_recognition to work
dlib==19.24.0
googletrans==4.0.0-rc1
pyaudio
SpeechRecognition==3.8.1
espeakng
python-vlc
yt_dlp
youtube_search
gtts
sockets
wikipedia
regex
requests
py-cord
face_recognition
opencv-python
numpy
google-search-results
pyyaml