googletrans==4.0.0-rc1
pyaudio
SpeechRecognition==3.8.1
espeakng
python-vlc
youtube_dl
youtube_search
git+https://github.com/Cupcakus/pafy
gtts
sockets
wikipedia
regex
requests
py-cord
face_recognition
opencv-python
numpy
google-search-results
pyyaml